<h1>Employee Show Page</h1>

<h2>Name: <%= @employee.last_name %> - <%=  @employee.first_name %></h2>
<h2>Alias: <%= @employee.alias %></h2>
<h2>Title: <%= @employee.title %></h2>
<h2>Home Office: <%= @employee.office %></h2>